<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>meetometer</title>
    <link href="//code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <div data-role="page" ng-controller="meetingController">

        <div data-role="header">
            <h1>meetometer</h1>
        </div>

        <div role="main" class="ui-content">
            <label for="peopleSlider">People in meeting:</label>
            <input type="range" name="peopleSlider" id="peopleSlider" min="0" max="100" step="1" ng-model="people" slider-init>

            <label for="avgSalary">Avg. salary:</label>
            <input type="range" name="avgSalary" id="avgSalary" min="0" max="100000" step="1000" ng-model="avgSalary" slider-init>

            <h1 style="text-align: center">
                {{cost | currency:''}} SEK
            </h1>

            <div class="ui-grid-b ui-responsive">
                <div class="ui-block-a">
                    <button ng-disabled="running" ng-click="vm.start()" class="ui-shadow ui-btn ui-corner-all">Start</button>
                </div>
                <div class="ui-block-b">
                    <button ng-disabled="!running" ng-click="vm.stop()" class="ui-shadow ui-btn ui-corner-all">Stop</button>
                </div>
                <div class="ui-block-c">
                    <button ng-click="vm.reset()" class="ui-shadow ui-btn ui-corner-all">Reset</button>
                </div>
            </div>
        </div>


    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.0/amplify.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>

    <script src="App/app.min.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46765267-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
